{
    "env": {
        "browser": true,
        "es6": true
    },
    "globals": {
        "define": true,
        "require": true,
        "jQuery": true,
        "$" : true,
        "module" : true,
        "pubsub" : true,
        "global" : true
    },
    "extends": "eslint:recommended",
    "rules": {
        "strict": 1,
        "block-scoped-var": 2,
        "curly": [2,"all"],
        "dot-location": [2,"property"],
        "eqeqeq": [2,"smart"],
        "no-alert": 2,
        "no-console": 0,
        "no-caller": 2,
        "no-eval": 2,
        "no-extend-native": 1,
        "no-extra-bind": 2,
        "no-fallthrough": 1,
        "no-floating-decimal": 1,
        "no-implicit-coercion": [1,{"allow": ["!!", "+"]}],
        "no-implied-eval": 2,
        "no-labels": 2,
        "no-lone-blocks": 1,
        "no-loop-func": 2,
        "no-multi-spaces": [2,{ "exceptions": { "Property": true, "VariableDeclarator": true }}],
        "no-multi-str": 2,
        "no-native-reassign": 2,
        "no-new-func": 2,
        "no-new-wrappers": 2,
        "no-octal-escape": 2,
        "no-proto": 1,
        "no-return-assign": [2,"always"],
        "no-script-url": 2,
        "no-self-compare": 2,
        "no-sequences": 2,
        "no-throw-literal": 2,
        "no-unused-expressions": 2,
        "no-unused-vars": 1,
        "no-unsafe-negation": 2,
        "no-useless-call": 2,
        "no-void": 2,
        "no-warning-comments": 1,
        "no-with": 2,
        "radix": 2,
        "vars-on-top": 0,
        "wrap-iife": [2,"inside"],
        "yoda": 2,
        "no-shadow-restricted-names": 2,
        "no-shadow": 1,
        "no-undef-init": 2,
        "no-undefined": 2,
        "array-bracket-spacing": [2,"never",{}],
        "brace-style": [2,"1tbs",{}],
        "comma-spacing": 2,
        "comma-style": 2,
        "computed-property-spacing": 2,
        "consistent-this": [1,"self"],
        "func-style": [2,"declaration", { "allowArrowFunctions": true }],
        "indent": [2,"tab"],
        "linebreak-style": [2,"unix"],
        "new-parens": 2,
        "no-array-constructor": 2,
        "no-continue": 1,
        "no-lonely-if": 1,
        "no-nested-ternary": 2,
        "no-new-object": 2,
        "no-spaced-func": 2,
        "no-trailing-spaces": 2,
        "no-unneeded-ternary": 2,
        "object-curly-spacing": [2,"always",{}],
        "operator-linebreak": [2,"after"],
        "padded-blocks": [2,"never"],
        "quote-props": [1,"as-needed"],
        "semi-spacing": 2,
        "semi": [2,"always"],
        "keyword-spacing": [2, { "overrides": { "if": { "after": false }, "for": { "after": false }, "while": { "after": false }, "catch": { "after": false} } }],
        "space-before-blocks": [2,"always"],
        "space-before-function-paren": [2,"never"],
        "space-in-parens": [2,"never"],
        "space-infix-ops": 2,
        "space-unary-ops": [2,{"words":true}],
        "arrow-parens": [2,"always"],
        "arrow-spacing": [2,{"before":true,"after":true}],
        "no-const-assign": 2,
        "object-shorthand": [2,"never"],
        "no-bitwise": 2
    }
}